<div class="container">
  <div class="advice-main-container">
    <p [class.slide-in]="isAnimated">A D V I C E # {{ this.id }}</p>
    <div class="advice-text-container" [class.slide-in]="isAnimated">
      <p>
        {{ this.advice }}
      </p>
    </div>

    <div class="devider-svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 444 16">
        <g fill="none" fill-rule="evenodd">
          <path fill="#4F5D74" d="M0 8h196v1H0zM248 8h196v1H248z" />
          <g transform="translate(212)" fill="#CEE3E9">
            <rect width="6" height="16" rx="3" />
            <rect x="14" width="6" height="16" rx="3" />
          </g>
        </g>
      </svg>
    </div>

    <div class="dice" (click)="fetchAdvice()">
      <svg
        width="24"
        height="24"
        class="dice-icon"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20 0H4a4.005 4.005 0 0 0-4 4v16a4.005 4.005 0 0 0 4 4h16a4.005 4.005 0 0 0 4-4V4a4.005 4.005 0 0 0-4-4ZM7.5 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z"
          fill="#202733"
        />
      </svg>
    </div>
  </div>
</div>
